.body{
    background-color: #D3D4D9;
}

#card1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: black;
}

.square {
    width: 5rem;
    height: 5rem;
    background-color: #4b88a2;
    margin: 1rem;
    margin-left: 4rem;
}

input[type="search"] {
    width: 30%;
    text-align: center;
    background-color: #D3D4D9;
}

#rightSquare {
    width: 5rem;
    height: 5rem;
    margin: 1rem;
    margin-right: 3rem;
    background-color: #D3D4D9;
    position: relative;
    /* Positioning parent for pseudo-elements */
}

#rightSquare::before,
#rightSquare::after {
    content: "";
    position: absolute;
    left: 10%;
    right: 10%;
    height: 0.1rem;
    background-color: black;
}

#rightSquare::before {
    top: 20%;
    /* Position of the first line */
}

#rightSquare .middle-line {
    position: absolute;
    left: 10%;
    right: 10%;
    top: 50%;
    height: 0.1rem;
    background-color: black;
    transform: translateY(-50%); /* Centers the line vertically */
}

#rightSquare::after {
    top: 80%;
    /* Position of the third line */
}

#card2 {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
}

.mainPart {
    background-color: #FFF9FB;
    width: 80%;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rectangle {
    width: 10rem;
    background-color: #4b88a2;
    margin: 1rem;
}

#middleSquare {
    width: 30%;
    height: 12rem;
    background-color: #4b88a2;
    margin-right: 1rem;
}

#upperText{
    margin: 1rem;
    color: #252627;
}

#upperText::after {
    content: "";
    display: block;
    width: 60%;
    height: 0.05rem;
    background-color: black;
    margin: 2.5rem auto 1rem auto;
}

#lowerText::before {
    content: "";
    display: block;
    width: 60%;
    height: 0.05rem;
    background-color: black;
    margin: 1rem auto 2.5rem auto; /* Extra top margin to lower the line */
}

.middleContent {
    display: flex;
    margin: 1rem;
}

#middleText{
    flex: 1rem;
    color: #252627;
}

#lowerText {
    margin: 1rem;
    color: #252627;
}