body {
    margin: 0;
    background-color: #D3D4D9;
}

#card1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: black;
}

.square {
    width: 5rem;
    height: 5rem;
    background-color: #4b88a2;
    margin: 1rem;
    margin-left: 3rem;
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    background-color: #D3D4D9;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-container .icon {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-image: url(img/magnifying_glass_icon.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.search-container input[type="search"] {
    border: none;
    outline: none;
    background-color: transparent;
    color: #252627;
    font-size: 1rem;
    text-align: left;
    width: 6rem;
}

#rightSquare {
    width: 5rem;
    height: 5rem;
    margin: 1rem;
    margin-right: 3rem;
    background-color: #D3D4D9;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding: 0.5rem 0; */
}

#rightSquare>hr {
    width: 80%;
    border-width: 0.2rem;
}

/* #rightSquare::before,
#rightSquare::after {
    content: "";
    position: absolute;
    left: 10%;
    right: 10%;
    height: 0.1rem;
    background-color: black;
} */

#rightSquare::before {
    top: 20%;
}

#rightSquare .middle-line {
    position: absolute;
    left: 10%;
    right: 10%;
    top: 50%;
    height: 0.1rem;
    background-color: black;
    transform: translateY(-50%);
}

#rightSquare::after {
    top: 80%;
}

#card2 {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
}

.mainPart {
    background-color: #FFF9FB;
    width: 80%;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rectangle {
    width: 10rem;
    background-color: #4b88a2;
    margin: 1rem;
}

#middleSquare {
    width: 30%;
    height: 12rem;
    background-color: #4b88a2;
}

#upperText {
    margin: 1rem;
    color: #252627;
}

/* #upperText::after {
    content: "";
    display: block;
    width: 60%;
    height: 0.05rem;
    background-color: black;
    margin: 2.5rem auto 1rem auto;
}

#lowerText::before {
    content: "";
    display: block;
    width: 60%;
    height: 0.05rem;
    background-color: black;
    margin: 1rem auto 2.5rem auto;
} */

.mainPart>hr {
    width: 80%;
}

.middleContent {
    display: flex;
    margin: 1rem;
    gap: 1rem
}

#middleText {
    flex: 1rem;
    margin: 0;
    color: #252627;
}

#lowerText {
    margin: 1rem;
    color: #252627;
}

#special-word {
    color: blue;
}